.coin {
  display: flex;
  justify-content: center;
}

.coin_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.coin_data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.coin_name h1 {
  font-size: 16px;
  width: 90px;
}

.coin_img img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin_symbol {
  text-transform: uppercase;
  width: 50px;
}

.coin_price {
  width: 110px;
}

.coin_volume {
  width: 165px;
}

.coin_percent_red {
  width: 40%;
  color: red;
}

.coin_percent_green {
  width: 40%;
  color: green;
}

@media only screen and (max-width: 768px) {
  .coin_row {
    justify-content: center;
  }
}
